name: AI Code Reviewer

on:
  pull_request:
    types:
      - opened
      - synchronize
permissions: write-all
jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: AI Code Review Action
        uses: freeedcom/ai-codereviewer@v2.4.1
      - name: AI Code Reviewer
        uses: millionacrenest/robots@main
        with:
          branch: updateTextField4
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          exclude: "**/*.json, **/*.md" # Optional: exclude patterns separated by commas
